footer {
    color: $white;
    font-size: 1em;
    font-family: $MainFont__light;
    line-height: 2;
    text-align: center;
    padding-top: 2.93em;
    padding-bottom: 5em;
    background: url('/img/bg-footer.webp') no-repeat;
    background-size: cover;
}
